<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578742501532-n3a45rooe2vs2i9mn6sh12k0urk3o42b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578742501532-n3a45rooe2vs2i9mn6sh12k0urk3o42b</string>
	<key>API_KEY</key>
	<string>AIzaSyDBnsjf8H7anMj64Jgdcowp4yoMo8rPyko</string>
	<key>GCM_SENDER_ID</key>
	<string>578742501532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setel.setelGeofence</string>
	<key>PROJECT_ID</key>
	<string>setel-geofence-e2411</string>
	<key>STORAGE_BUCKET</key>
	<string>setel-geofence-e2411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578742501532:ios:1408b1daab73c93adc6d59</string>
	<key>DATABASE_URL</key>
	<string>https://setel-geofence-e2411.firebaseio.com</string>
</dict>
</plist>